body {
  text-align: center;
  background-image: url("file:///Users/B/Pictures/Photos%20Library.photoslibrary/private/com.apple.Photos/ExternalEditSessions/25FA167D-CBBC-46F9-8EEC-86C356BE589D/IMG_2702.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

